body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #ffa5dd;
  }
  
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: aqua;
    padding: 2%;

    
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    border: 2px solid #000;
    border-radius: 10px;
  }
  
  
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    height: 200px;
   
   
  }
  
  .image-container .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 14px;
  }
  
  .image-container:hover img {
    transform: scale(1.1);
  }
  
  .image-container:hover .caption {
    opacity: 1;
  }
  .img1{
    background-color: #000f00;
    padding: 2%;
  }
  .dive1{
    position: relative;
    bottom: 200px;
    background-color: rgb(215, 106, 59);
    padding: 2px ;
    margin-right: 100px;
    font-weight: bold;
    
  }
  
  